.grade{
    .el-col{
        background: white;
        margin-top: 27px;
        height: 110px;
        overflow: auto;
        font-size: 16px;
        color: #4D4D4D;
        border-radius:2px;
        .grid-content{
                margin-top: 35px;
                padding-left: 4%;
                .inputContent{
                    width: 35%;
                }
                .el-button{
                    margin-left: 6%;
                }
        }
    }
}